.articleList {
  padding: 3rem 2rem 2rem;
  max-width: 900px;
  margin: auto;
  position: relative;
  top: -3rem;
  box-shadow: 0 0 5px 0 #ccc;
  background-color: #fff;
  border-top-left-radius: 30px;
}

.articleListTitleEn {
  font-size: 1.625rem;
  margin-bottom: 1rem;
}

.articleListTitleZh {
  color: #999;
  margin-bottom: 1rem;
}
