@import '@@/share/styles/markdown.less';
@md-top: 5.5rem;

.article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--color-font-size-markdown-main);
}

.articleDetail {
  width: 60%;
}

.markdownTreeContainer {
  width: 20%;
  padding: 1rem;
}

.divider {
  position: sticky;
  top: @md-top;
  border-left: 1px solid var(--color-border-muted);
  height: calc(100vh - 1rem - @md-top);
}
