@import '@@/share/styles/markdown.less';

.article {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.articleDetail {
  width: 60%;

  .articleTitle {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2.16rem;
  }
}

.markdownTreeContainer {
  width: 20%;
}
