.markdownTree {
  position: sticky;
  top: 5rem;
  max-height: 65vh;
  overflow-y: scroll;
  padding: 0 1rem 1rem;
  background-color: transparent;
  --scrollbar-width: 5px;
}

.title_h1 {
  font-size: 1.25rem;
  font-weight: 600;
}

.title_h2 {
  font-size: 1rem;
  font-weight: 520;
}
