.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem 0;
  color: #000;
  background: linear-gradient(to top, var(--color-primary-border) 0%, var(--color-primary-bg));
}

.netInfo {
  display: flex;
  flex-direction: row;
  align-items: center;

  > * {
    margin-right: 8px;
  }
}

.logo {
  max-width: 3rem;
}

.myWeChatWrapper {
  display: flex;
  flex-direction: column;

  > img {
    max-width: 6.25rem;
    margin-bottom: 5px;
  }

  > div {
    font-size: 0.875rem;
    text-align: center;
  }
}
